@model UserViewModel

<div class="modal modal-backdrop" id="isLoading">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center">
                    <div class="spinner-grow text-info m-5" style="width: 3rem; height: 3rem;" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!doctype html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
<div class="lds-dual-ring"></div>

<div class="bgImage">
    <img src="images/image3.png" alt="bg" style="width:100%;">
</div>
@{
    ViewData["Title"] = "Home Page";
}
<div class="header">

</div>
<div class="text-center">
    <h1 class="display-4">YOUR PET AND YOU!!</h1>
    <p class="display-5">Welcome To the Elanco Rebate Processes.</p>
    <h2>Obtaining A Rebate</h2>
    <br/>
</div>

<div class="container">
    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <div class="col-auto">
                <div class="custom-file">
                    <input asp-for="Photo" class="form-control custom-file-input" accept="image/png, image/jpeg, image/jpg, application/pdf"/>
                    <span asp-validation-for="Photo" class="text-danger"></span>
                </div>
            </div>
        </div>
        <br/>
        <div class="form-group">
            <input class="btn btn-primary" asp-page-handler="Upload" type="submit" value="Extract Data" id="uploadimage"/>
        </div>
        <br/>
    </form>
</div>
<div class="container">
<div class="accordion" id="accordionExample">
<div class="accordion-item">
<h2 class="accordion-header" id="headingOne">
    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        <h5>Extract Data Model</h5>
    </button>
</h2>
<div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
    <div class="accordion-body">
                    
        @if (Model != null)
        {
            @if (String.IsNullOrEmpty(Model.Purchase.InvoiceNumber?["value"]) == false)
            {
                <div class="form-group has-success">
                    <label class="form-label mt-4" for="inputValid">Invoice code</label>
                    <input type="text" asp-for="@Model.Purchase.InvoiceNumber["value"]" class="form-control is-valid" id="inputValid">
                    <div class="valid-feedback"> Confidence Percentage @Model.Purchase.InvoiceNumber["confidence"]</div>
                </div>
            }
            else
            {
                <div class="form-group has-danger">
                    <label class="form-label mt-4" for="inputInvalid">Invoice code</label>
                    <input type="text" asp-for="@Model.Purchase.InvoiceNumber["value"]" class="form-control is-invalid" id="inputInvalid">
                    <div class="invalid-feedback">Sorry, Couldn't extract data</div>
                </div>
            }
                        
            @if (String.IsNullOrEmpty(Model.Purchase.Date?["value"]) == false)
            {
                <div class="form-group has-success">
                    <label class="form-label mt-4" for="inputValid">Date of issue</label>
                    <input type="text" asp-for="@Model.Purchase.Date["value"]" class="form-control is-valid" id="inputValid">
                    <div class="valid-feedback"> Confidence Percentage = @Model.Purchase.Date["confidence"]</div>
                </div>
            }
            else
            {
                <div class="form-group has-danger">
                    <label class="form-label mt-4" for="inputInvalid">Date of issue</label>
                    <input type="text" asp-for="@Model.Purchase.Date["value"]" class="form-control is-invalid" id="inputInvalid">
                    <div class="invalid-feedback">Sorry, Couldn't extract data</div>
                </div>
            }
                        
            @if (String.IsNullOrEmpty(Model.Purchase.TotalAmount?["value"]) == false)
            {
                <div class="form-group has-success">
                    <label class="form-label mt-4" for="inputValid">Total amount</label>
                    <input type="text" asp-for="@Model.Purchase.TotalAmount["value"]" class="form-control is-valid" id="inputValid">
                    <div class="valid-feedback"> Confidence Percentage = @Model.Purchase.TotalAmount["confidence"]</div>
                </div>
            }
            else
            {
                <div class="form-group has-danger">
                    <label class="form-label mt-4" for="inputInvalid">Total amount</label>
                    <input type="text" asp-for="@Model.Purchase.TotalAmount["value"]" class="form-control is-invalid" id="inputInvalid">
                    <div class="invalid-feedback">Sorry, Couldn't extract data</div>
                </div>
            }
                        
            @if (String.IsNullOrEmpty(Model.Purchase.Clinic.Name?["value"]) == false)
            {
                <div class="form-group has-success">
                    <label class="form-label mt-4" for="inputValid">Clinic name</label>
                    <input type="text" asp-for="@Model.Purchase.Clinic.Name["value"]" class="form-control is-valid" id="inputValid">
                    <div class="valid-feedback"> Confidence Percentage @Model.Purchase.Clinic.Name["confidence"]</div>
                </div>
            }
            else
            {
                <div class="form-group has-danger">
                    <label class="form-label mt-4" for="inputInvalid">Clinic name</label>
                    <input type="text" asp-for="@Model.Purchase.Clinic.Name["value"]" class="form-control is-invalid" id="inputInvalid">
                    <div class="invalid-feedback">Sorry, Couldn't extract data</div>
                </div>
            }
            
                        
            @if (String.IsNullOrEmpty(Model.Purchase.Clinic.Address?["value"]) == false)
            {
                <div class="form-group has-success">
                    <label class="form-label mt-4" for="inputValid">Clinic address</label>
                    <input type="text" asp-for="@Model.Purchase.Clinic.Address["value"]" class="form-control is-valid" id="inputValid">
                    <div class="valid-feedback"> Confidence Percentage = @Model.Purchase.Clinic.Address["confidence"]</div>
                </div>
            }
            else
            {
                <div class="form-group has-danger">
                    <label class="form-label mt-4" for="inputInvalid">Clinic address</label>
                    <input type="text" asp-for="@Model.Purchase.Clinic.Address["value"]" class="form-control is-invalid" id="inputInvalid">
                    <div class="invalid-feedback">Sorry, Couldn't extract data</div>
                </div>
            }
                        
            @if (String.IsNullOrEmpty(Model.Purchase.Clinic.Zip?["value"]) == false)
            {
                <div class="form-group has-success">
                    <label class="form-label mt-4" for="inputValid">Clinic zip code</label>
                    <input type="text" asp-for="@Model.Purchase.Clinic.Zip["value"]" class="form-control is-valid" id="inputValid">
                    
                     <div class="valid-feedback"> Confidence Percentage =  @Model.Purchase.Clinic.Zip["confidence"]</div>
                   
                </div>
            }
            else
            {
                <div class="form-group has-danger">
                    <label class="form-label mt-4" for="inputInvalid">Clinic zip code</label>
                    <input type="text" asp-for="@Model.Purchase.Clinic.Zip["value"]" class="form-control is-invalid" id="inputInvalid">
                    <div class="invalid-feedback">Sorry, Couldn't extract data</div>
                </div>
            }
            @if (String.IsNullOrEmpty(Model.Purchase.Pet.Name?["value"]) == false)
            {
                <div class="form-group has-success">
                    <label class="form-label mt-4" for="inputValid">Pet's name</label>
                    <input type="text" asp-for="@Model.Purchase.Pet.Name["value"]" class="form-control is-valid" id="inputValid">
                    <div class="valid-feedback"> Confidence Percentage @Model.Purchase.Pet.Name["confidence"]</div>
                </div>
            }
            else
            {
                <div class="form-group has-danger">
                    <label class="form-label mt-4" for="inputInvalid">Pet's name</label>
                    <input type="text" asp-for="@Model.Purchase.Pet.Name["value"]" class="form-control is-invalid" id="inputInvalid">
                    <div class="invalid-feedback">Sorry, Couldn't extract data</div>
                </div>
            }
            
            <div class="form-group">
                <label class="col-form-label mt-4" for="inputDefault">Products</label>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        @if (String.IsNullOrEmpty(Model.Products.First().Description?["value"]) == false)
                        {
                            <th>Description</th>
                        }
                        @if (String.IsNullOrEmpty(Model.Products.First().Quantity?["value"]) == false)
                        {
                            <th>Quantity</th>
                        }
                        @if (String.IsNullOrEmpty(Model.Products.First().Amount?["value"]) == false)
                        {
                            <th>Amount</th>
                        }
                    </tr>
                    </thead>
        
                    <tbody>
                    @foreach (var item in Model.Products)
                    {
                        <tr class="table-active">
                            @if (String.IsNullOrEmpty(item.Description?["value"]) == false)
                            {
                                <th>@item.Description["value"], @item.Description["confidence"]</th>
                            }
                            @if (String.IsNullOrEmpty(item.Quantity?["value"]) == false)
                            {
                                <td>@item.Quantity["value"], @item.Quantity["confidence"]</td>
                            }
                            @if (String.IsNullOrEmpty(item.Amount?["value"]) == false)
                            {
                                <td>@item.Amount["value"], @item.Amount["confidence"]</td>
                            }
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <div class="form-group">
                <label class="col-form-label mt-4" for="inputDefault">Invoice code</label>
                <input type="text" class="form-control" placeholder="Invoice code" asp-for="@Model.Purchase.InvoiceNumber["value"]">
            </div>
            <div class="form-group">
                <label class="col-form-label mt-4" for="inputDefault">Date of issue</label>
                <input type="text" class="form-control" placeholder="Date of issue" asp-for="@Model.Purchase.Date["value"]">
            </div>
            <div class="form-group">
                <label class="col-form-label mt-4" for="inputDefault">Total amount</label>
                <input type="text" class="form-control" placeholder="Total amount" asp-for="@Model.Purchase.TotalAmount["value"]">
            </div>
            <div class="form-group">
                <label class="col-form-label mt-4" for="inputDefault">Clinic name</label>
                <input type="text" class="form-control" placeholder="Clinic name" asp-for="@Model.Purchase.Clinic.Name["value"]">
            </div>
            <div class="form-group">
                <label class="col-form-label mt-4" for="inputDefault">Clinic address</label>
                <input type="text" class="form-control" placeholder="Clinic address" asp-for="@Model.Purchase.Clinic.Address["value"]">
            </div>
            <div class="form-group">
                <label class="col-form-label mt-4" for="inputDefault">Clinic zip code</label>
                <input type="text" class="form-control" placeholder="Clinic zip code" asp-for="@Model.Purchase.Clinic.Zip["value"]">
            </div>
            <div class="form-group">
                <label class="col-form-label mt-4" for="inputDefault">Pet's name</label>
                <input type="text" class="form-control" placeholder="Pet's name" asp-for="@Model.Purchase.Pet.Name["value"]">
            </div>
        }

    </div>
</div>
<div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <h5>Customer Information</h5>
        </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <div class="form-group">
                <label class="col-form-label mt-4" for="inputDefault">First name</label>
                <input type="text" class="form-control" placeholder="First name">
            </div>
            <div class="form-group">
                <label class="col-form-label mt-4" for="inputDefault">Last name</label>
                <input type="text" class="form-control" placeholder="Last name">
            </div>
            <div class="form-group">
                <label class="col-form-label mt-4" for="inputDefault">Address</label>
                <input type="text" class="form-control" placeholder="Address">
            </div>
            <div class="form-group">
                <label class="col-form-label mt-4" for="inputDefault">Zip code</label>
                <input type="text" class="form-control" placeholder="Zip code">
            </div>
            <div class="form-group">
                <label class="col-form-label mt-4" for="inputDefault">City</label>
                <input type="text" class="form-control" placeholder="City">
            </div>
            <div class="form-group">
                <label class="col-form-label mt-4" for="inputDefault">Email</label>
                <input type="text" class="form-control" placeholder="Email">
            </div>
            <div class="form-group">
                <label class="col-form-label mt-4" for="inputDefault">Phone</label>
                <input type="text" class="form-control" placeholder="Phone" id="inputDefault">
            </div>
        </div>
    </div>
</div>

</div>

</div>


<div class="footerImage">
    <img src="images/imaage2.png" alt="footer image" style="width:100%;">
</div>
</div>
</body>
</html>


@section Scripts{
    <script type="text/javascript">
        function ShowProgress() {
            $(document).ready(function (){
                $('#isLoading').modal('show')
            });
        };
        function HideProgress() {
            
        };
        $(function () {
            $("#uploadimage").click(function () {
                ShowProgress();
            });
        });
    </script>
}

