@model UserViewModel
<!doctype html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

<div class="banner"/>
<div class="bgImage">
    <img src="images/bg.png" alt="bg" style="width:100%;">
</div>
@{
    ViewData["Title"] = "Home Page";
}
<div class="header">

</div>
<div class="text-center">
    <h1 class="display-4">YOUR PET AND YOU!!</h1>
    <p class="display-5">Welcome To the Elanco Rebate Processes.</p>
    <h2>Obtaining A Rebate</h2>
    <br/>
</div>

<div class="container">
    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <div class="col-auto">
                <div class="custom-file">
                    <input asp-for="Photo" class="form-control custom-file-input" accept="image/png, image/jpeg, image/jpg, application/pdf"/>
                    <span asp-validation-for="Photo"></span>
                </div>
            </div>
        </div>
        <br/>
        <div class="form-group">
            <input class="btn btn-primary" asp-page-handler="Upload" type="submit" value="Extract Data"/>
            <div class="alert alert-dismissible alert-success">
              <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
              <strong>Well done!</strong> Thanks that has successfully Extracted <a href="#" class="alert-link">this important alert message</a>.
            </div>
        </div>
        <br/>
    </form>
</div>
<div class="container">
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <h5>Extract Data Model</h5>
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="form-group">
                        <label class="col-form-label mt-4" for="inputDefault">Invoice code</label>
                        <input type="text" class="form-control" placeholder="Invoice code" id="inputDefault" asp-for="@Model.Purchase.InvoiceNumber">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label mt-4" for="inputDefault">Date of issue</label>
                        <input type="text" class="form-control" placeholder="Date of issue" id="inputDefault" asp-for="@Model.Purchase.Date">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label mt-4" for="inputDefault">Total amount</label>
                        <input type="text" class="form-control" placeholder="Total amount" id="inputDefault" asp-for="@Model.Purchase.TotalAmount">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label mt-4" for="inputDefault">Clinic name</label>
                        <input type="text" class="form-control" placeholder="Clinic name" id="inputDefault" asp-for="@Model.Purchase.Clinic.Name">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label mt-4" for="inputDefault">Clinic address</label>
                        <input type="text" class="form-control" placeholder="Clinic address" id="inputDefault" asp-for="@Model.Purchase.Clinic.Address">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label mt-4" for="inputDefault">Clinic zip code</label>
                        <input type="text" class="form-control" placeholder="Clinic zip code" id="inputDefault" asp-for="@Model.Purchase.Clinic.Zip">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label mt-4" for="inputDefault">Pet's name</label>
                        <input type="text" class="form-control" placeholder="Pet's name" id="inputDefault" asp-for="@Model.Purchase.Pet.Name">
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <h5>Customer Information</h5>
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="form-group">
                            <label class="col-form-label mt-4" for="inputDefault">First name</label>
                            <input type="text" class="form-control" placeholder="First name" id="inputDefault">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label mt-4" for="inputDefault">Last name</label>
                            <input type="text" class="form-control" placeholder="Last name" id="inputDefault">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label mt-4" for="inputDefault">Address</label>
                            <input type="text" class="form-control" placeholder="Address" id="inputDefault">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label mt-4" for="inputDefault">Zip code</label>
                            <input type="text" class="form-control" placeholder="Zip code" id="inputDefault">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label mt-4" for="inputDefault">City</label>
                            <input type="text" class="form-control" placeholder="City" id="inputDefault">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label mt-4" for="inputDefault">Email</label>
                            <input type="text" class="form-control" placeholder="Email" id="inputDefault">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label mt-4" for="inputDefault">Phone</label>
                            <input type="text" class="form-control" placeholder="Phone" id="inputDefault">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footerImage">
        <img src="images/imaage2.png" alt="footer image" style="width:100%;">
    </div>
</div>
</body>
</html>


